.main-body{
  background-color: #444444;
  display: flex;
  justify-content: center;
}

#option-list{
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 105px;
  height: 220px;
  align-items: center;
  justify-content: space-between;
}

#tetris-container{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 2px;
  color: white;
  border: 5px solid black;
  text-align: center;
  width: 100px;
  padding: 7px;
  border-radius: 50px;
  background-color: white;
  height: 20px;
  margin: 5px;
}

.game-button:hover{
  width: 105px;
  height: 25px;
}

#start-button{
  background-color: #63cd0f;
}

#pause-button{
  background-color: #eb7212;
}

#option-button{
  background-color: #2689e1;
}

#quit-button{
  background-color: #dc402b;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    z-index: 2;
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
